.button a {
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
  padding: 15px;
  color: #ffffff;
  background-color: #1a60bf;
  transition-property: all;
  transition-duration: 0.5s;
  transition-delay: 0s;
  transition-timing-function: ease-in;
}

.button a:hover {
  color: #1a60bf;
  background-color: #d0e2fb;
}
